/* **************REGOLE GENERALI*************************** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *****************REGOLE MAIN***************** */
main{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}
h1{
    font-size: 40px;
    text-transform: uppercase;
}

input{
    font-size: 30px;
    text-align: center;
}

#button{
    font-size: 30px;
    margin: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

h2{
    margin: 30px;
    color: rgb(10, 187, 28);
    font-size: 60px;
}